html,
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: #74c7b8;
}

.menu-container,
.player-input-container,
.ai-input-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #74c7b8;
}

.menu-container {
    z-index: 10;
}

.player-input-container {
    z-index: 5;
}

.ai-input-container {
    z-index: 3;
}

.menu-box,
.player-input-box,
.ai-input-box {
    background-color: #ffcda3;
    box-shadow: -5px 5px 0 #ee9595;
    max-width: 500px;
    width: 40%;
    padding: 1rem;
    box-sizing: border-box;
    border-radius: 30px;
    margin: 15% auto;
    height: 250px;
}

.normal-text {
    color: #3ca7ab;
    font-weight: bold;
    text-align: center;
}

.row-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.player-input-box input {
    width: 30%;
    margin: 0 1rem;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 25vh;
}

section.left,
section.right {
    border-radius: 30px;
    background-color: #ffcda3;
    box-shadow: -5px 5px 0 #ee9595;
    width: 40%;
    max-width: 500px;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0.5rem;
}

.title {
    text-align: center;
    color: #ef4f4f;
    font-size: 2.2rem;
    margin: 1rem 0.5rem 0.5rem 0.5rem;
}

.player-box {
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    border-radius: 15px;
    margin: 0.8rem;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border: 4px solid #ffcda3;
}

.player-box p {
    margin: 0.3rem 0;
    font-weight: 600;
}

.player-box p span {
    font-weight: 400;
}

.highlight {
    border: 4px solid #ef4f4f;
}

.button-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

button {
    background-color: #74c7b8;
    box-shadow: -5px 5px 0 #3ca7ab;
    border: none;
    border-radius: 15px;
    padding: 1rem;
    color: rgba(255, 255, 255, 1);
    margin: 1rem;
    width: 120px;
    box-sizing: border-box;
    cursor: pointer;
}

section.right {
    display: flex;
    justify-content: center;
}

.board-wrapper {
    display: grid;
    grid-template-areas: "tile0 tile1 tile2" "tile3 tile4 tile5" "tile6 tile7 tile8";
}

.tile {
    background-color: #ee9595;
    box-shadow: -5px 5px 0 #ef4f4f;
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin: 0.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
}

button:hover,
.tile:hover {
    box-shadow: none;
    transform: translate(-5px, 5px)
}

.nohover {
    pointer-events: none;
}

#tile0 {
    grid-area: tile0;
}

#tile1 {
    grid-area: tile1;
}

#tile2 {
    grid-area: tile2;
}

#tile3 {
    grid-area: tile3;
}

#tile4 {
    grid-area: tile4;
}

#tile5 {
    grid-area: tile5;
}

#tile6 {
    grid-area: tile6;
}

#tile7 {
    grid-area: tile7;
}

#tile8 {
    grid-area: tile8;
}